.card-container {
    width: 320px;
    border-style: solid;
    border-width: thin;
    padding: 20px;
    padding-top: 0px;
    padding-right: 5px;
    box-shadow: 4px 4px grey;
    border-color: grey;
    background-color: white;
    margin: auto;
}

.description {
	width: 300px;
    border-style: solid;
    border-width: thin;
    border-color: grey;
}

.title-img {
	width: 300px;
    padding-bottom: 10px;
}

.txt-content {
	padding-left: 5px;
	padding-right: 5px;
}

.category-name {
	font-weight: bold;
}

.facts-list {
	list-style: none;
	padding-left: 5px;
	padding-right: 5px;
}